target/
build/
lint.xml
bin/
gen/
.settings
.project
.classpath
out
gen-external-apklibs/
classes/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*/out
!*/build/apk/
*/production/
*.iws
*.ipr
*.iml
*~
*.swp

# gradle
.gradle

.DS_Store

src/main/libs
src/main/obj

#pdfium subproject

/pdfium-android/.gradle
/pdfium-android//local.properties
/pdfium-android/.idea/
/pdfium-android/.DS_Store
/pdfium-android//build
/pdfium-android//captures